body {
	background-color: #f8f8f8;
}

h1 {
	color: #9b0d00;
	font-size: 150px;
	text-align: center;
}

a{
	color: black;
}

h2{
	color: #9b0d00;
	font-size: 40px;
}

h4{
	color: #9b0d00;
	font-size: 25px; 
}

#img_logo{
	margin-top: -120px;
}
#search_form{
	margin:auto;
	background-color: #f8f8f8;
	color:  #626b94;
	text-align: center;
}
#content_box {  
	background-color: #f8f8f8;
	color: black;
	display: block;
}
#picture_box{
	background-color: #f8f8f8;
	display: inline-block;

}
#description_box{
	background-color: #f8f8f8;
	display: inline-block;
}
#plot_box{
	background-color: #f8f8f8;
}
#actors_box{
	background-color: #f8f8f8;
	color: black;
}
.bg-red{
	background-color: red;
}

.bg-green{
	background-color: blue;
}
header div{
	display: inline-block;
}
.bg-myblue{
	background-color: #9b0d00;
	border-radius:  30px ;
	box-shadow: 0.8px 0.8px 0px black;
}

.word_text{
	word-spacing: 4px; 
}

.sartrouville{
    padding-top: 30;
    padding-bottom: 30;
}