
{% extends "default.html" %}

{%block corps %}

	<div id="content_box">

		<div id="picture_box">

		<img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg" 
		alt=""
		width="140px"
		height="200px">
		</div>

		<div id="description_box">	
			<ul>

		<li>{{card.Title}} </li><br />
		<li>{{card.Year}}</li> <br />
		<li>{{card.Genre}} </li><br />
		<li>{{card.Runtime}}</li> <br />
			</ul>

		</div>

	<div id="plot_box">
		<li>{{card.Plot}}</li> <br />
	</div>

	<div id="actors_box">
		<li>{{card.Actors}}</li> <br />
	</div>

{% endblock %}
