
{% extends "default.html" %}

{%block corps %}

	<div id="content_box">

		<div id="picture_box">

			<img src="{{card.Poster}}" 
			alt=""
			width="550px"
			height="850px">
		</div>

		<div id="description_box">	
			<h2>
				{{card.Title}} 
			</h2> 
			<h4>
				{{card.Type}} : {{card.Genre}}  
				{{card.Year}} - {{card.Runtime}} 
			</h4> 
				
			<div id="actors_box">
				<h4>
					Distribution : {{card.Actors}} 
				</h4> 
			</div>
			<div id="plot_box">
				<h4>
					Synopsis : 
				</h4> 
				<p>
					{{card.Plot}} 
				</p>
			</div>

		</div>
	</div>

{% endblock %}
