
{% extends "default.html" %}

{%block corps %}

	<div class="col-md-3 text-center">
		<img src="{{card.Poster}}" class="img-fluid shadow" alt="">
	</div>
	<div class="col-md-5">
		<h2>
			{{card.Title}} 
		</h2> 
		<br>

 		<p class="funny_text word_text">	
			A <span class="bg-myblue text-white "> &nbsp;{{card.Type}} </span>&nbsp;of <span class="bg-myblue text-white"> &nbsp;{{card.Genre}} </span> &nbsp;released in <span class="bg-myblue text-white"> &nbsp;{{card.Year}}&nbsp;</span> <br>	Starring <span class="bg-myblue text-white"> &nbsp;{{card.Actors}}&nbsp;</span>
 		</p>
		<div id="plot_box">
			<h4>
				Plot : 
			</h4> 
			<p>
				{{card.Plot}} 
			</p>
		</div>
	</div>

{% endblock %}
