{% extends "default.html" %}

{%block corps %}
	{% if movies_found is not none %}   
		{% for movie in movies_found %}
			<a href="/movie/{{movie.imdbID}}"> 
				<div class="col-xl-2 col-md-3 col-sm-4">
					<div class="col-12 text-center">
						<img src="{{movie.Poster}}" alt="Poster" width="175"  class="img-fluid align-middle" height="300">
					</div>
					<div class="col-12">
						<p class="text-center">
							{{movie.Title}} <br /> {{movie.Type}} <br /> {{movie.Year}}
						</p>
					</div>
				</a>
			</div>
		{% endfor %}
	{% else %}
	    <p class="text-warning">Rien trouvé</p>
	{%endif %}
{% endblock %}
