{% extends "default.html" %}

{%block corps %}

	{% for movie in movies_found %}
		<div>
			<a href="/movie/{{movie.imdbID}}"> 
<!-- 			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  -->
<hr>
				<img src="{{movie.Poster}}" 
					 alt=""
					 height="100px"
					 width="75px"> --->   <strong>{{movie.Title}} :  {{movie.Year}} :  {{movie.Type}}</strong>  <br />
					</a>
		</div>
		<br />
	{% endfor %}

{% endblock %}
